body {
    background-color:white;
    font-family: arial;
 }
   
 h1 { 
   font-size: 3rem;
   text-align: center;
} 

h2 {
    font-size: 2.5rem;
    text-align: center;
   }

p {  
   font-size: 1.5rem;
}

img {
   width: 750px; 
   height: auto;
}

.toque { 
 display: block;
 margin: 0 auto;
}
.size {
   font-size: 2rem;
}

.destaque { 
   color:blue;
}
